.header {
    position: relative;
    background-color: var(--footer-bg);
    background-image: url('./../img/header/header.jpg');
    background-size: cover;
    aspect-ratio: 1440 / 1084;

    color: var(--header-text-color);

    /*верстка фонового изображения*/

    // @media (-webkit-min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi) {
    //     background-image: url('./../img/header/header@2x.jpg');
    // }
    // как вариант

    /*адаптив рутина, медиа запрос в scss делается не отдельно, а вложенно*/

    @include retina-bg (url('./../img/header/header@2x.jpg'));

    a {
        color: var(--header-text-color);
    }

    @include mobile-x() {
        padding-bottom: 240px;
        background-position: center;
        aspect-ratio: unset;
    }
}

.header__nav {
    margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

.header__content {
    text-align: center;
}

.header__title {
    margin-bottom: 14px;
    font-size: 80px;
    font-weight: 700;
    font-size: clamp(28px, 0.821rem + 4.64vw, 80px);

    text-wrap: balance;
    text-transform: capitalize;
    line-height: 104px;
    letter-spacing: -0.8px;

    @include tablet() {
        line-height: 65px;
    }

    @include mobile() {
        line-height: 35px;
    }

}

.header__content p {
    margin: 0 auto;
    max-width: 606px;
    font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
    line-height: 160%;
    opacity: 0.8;
    text-wrap: balance;

    @include mobile() {
            line-height: 100%;
            opacity: 1;
        }

}

.header__search {
    margin-top: 45px;

    @include mobile-xl () {
            display: none;
    }
}

/* Dots */

.header__dot {
    position: absolute;

    @include mobile-xl () {
        display: none;
    }
}

.header__dot--sofa {
    left: calc(296 * 100% / (1440 - 30)); // 1440 = 100% 296px = x // x = 296*100/1440
    top: calc(685 * 100% / (1084 - 9));
    transform: translate(-8px, -8px);
}

.header__dot--vase {
    left: calc(113 * 100% / 1410);
    top: calc(753 * 100% / 1075);
    transform: translate(-16px, -16px);
}

.header__dot--item {
    left: calc(790 * 100% / 1410);
    top: calc(780 * 100% / 1075);
    transform: translate(-16px, -10px);
}

.header__dot--wall {
    left: calc(1330 * 100% / 1410);
    top: calc(810 * 100% / 1075);
}