@media (max-width: 1080px) {

    .header-row {
        column-gap: 30px;
        justify-content: center;
    }

    .header-img {
        max-width: 300px;
        border-radius: 30px;
    }

    .header-title {
        /* word-break: break-all; */
        font-size: 52px;
    }

    .header-text {
        font-size: 22px;
    }

    .portfolio-title {
        font-size: 42px;
    }

    .contacts-title {
        font-size: 42px;
    }

    .messengers {
        flex-direction: column;
        align-items: center;
    }

    .inner-page-title {
        font-size: 42px;
    }

    .GoTravel-title {
        font-size: 42px;
    }

    .LoftHouse-title {
        font-size: 42px;
    }

}

@media (max-width: 767px) {
    .header {
        padding-top: 20px;
        padding-bottom: 40px;
        border-bottom-right-radius: 60px;
    }

    .header-video {
        border-bottom-right-radius: 60px;
    }

    .header-row {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    .header-img {
        max-width: 100%;
    }

    .header-title {
        font-size: 32px;
        text-align: center;
    }

    .header-text {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 300;
    }

    .btn,
    .btn-outline {
        height: 42px;
        padding: 12px 15px 0;
    }

    /*Portfolio*/

    .portfolio {
        padding: 40px 0;
    }

    .portfolio-title {
        font-size: 28px;
        margin-bottom: 30px;
        text-align: center;
    }

    .projects {
        row-gap: 30px;
    }

    .project-img {
        margin-bottom: 20px;
        border-radius: 14px;
    }

    .project-title {
        font-size: 16px;
        text-align: center;
    }

    /* Contacts */

    .contacts {
        padding: 40px 0;
        border-top-left-radius: 60px;
    }

    .contacts-title {
        margin-bottom: 30px;
        font-size: 28px;
    }

    .messengers {
        gap: 20px;
        /* и для рядов, и для колонок */
        /* gap: 25px 35px; */
        /*первое значение ряды, второе колонки*/
    }

    .messenger {
        padding: 32px 20px;
        border-radius: 12px;
        font-size: 16px;
    }

    /* Footer */

    .footer-inner {
        font-size: 12px;
    }

    /* Inner page */

    .inner-page {
        padding: 40px 0 20px;
    }

    .inner-page-details {
        row-gap: 20px;
        margin-bottom: 20px;
    }

    .inner-page-title {
        font-size: 28px;
    }

    .inner-page-text {
        row-gap: 20px;
    }

    .inner-page-image {
        margin-bottom: 20px;
    }

    .inner-page-backlink {
        padding: 20px;
    }

    /* GoTravel */

    .GoTravel {
        padding: 40px 0 20px;
    }

    .GoTravel-details {
        row-gap: 20px;
        margin-bottom: 20px;
    }

    .GoTravel-title {
        font-size: 28px;
    }

    .GoTravel-text {
        row-gap: 20px;
    }

    .GoTravel-image {
        margin-bottom: 20px;
    }

    .GoTravel-backlink {
        padding: 20px;
    }

    /* LoftHouse */

    .LoftHouse {
        padding: 40px 0 20px;
    }

    .LoftHouse-details {
        row-gap: 20px;
        margin-bottom: 20px;
    }

    .LoftHouse-title {
        font-size: 28px;
    }

    .LoftHouse-text {
        row-gap: 20px;
    }

    .LoftHouse-image {
        margin-bottom: 20px;
    }

    .LoftHouse-backlink {
        padding: 20px;
    }
}